/* Editing html file by using css */
h1::before{
    content: "Edited by CSS code ";
}
h1::after{
    content: " Hello";
}
html{
    background: radial-gradient(yellow,green);
}
table:hover{
    transform: scale(1.05);
}
.heart{
    animation: pulse 3s infinite alternate;
}
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}